langchain
langchain-community
langchain-text-splitters
langchain-deepseek
langchain-huggingface
sentence-transformers
pydantic-settings
fastapi
uvicorn
pathlib
langchain-qdrant
qdrant-client
pypdf
python-multipart